.row
	.col-md-12
		%h1 Welcome to Pintirest

.row
	.col-md-12
		%h3 With this app you can create a user, add interesting "pins" that you currate.

.row
	.col-md-12
		%h3 This is a pintirest type app created by Joshua Munene a.k.a. Kenyacode
